VITE_IS_GCLOUD=false
VITE_IS_PROD=false
VITE_IS_MAIN_TEST=false
VITE_UNITY_FOLDER=./webgl/your-build-folder

VITE_LOADER_URL_EXTENSION=/webgl.loader.js
VITE_DATA_URL_EXTENSION=/webgl.data
VITE_DATA_URL_MOBILE_EXTENSION=/mobile.data.br
VITE_FRAMEWORK_URL_EXTENSION=/webgl.js
VITE_CODE_URL_EXTENSION=/webgl.wasm

VITE_API_HOST="your-api-host"
VITE_API_CHECK_IP_HOST="your-check-ip-host"
VITE_RPC_HOST='your-rpc-host'

VITE_VERSION=1
VITE_IGNORE_IP_CHECK=true
VITE_IGNORE_CHECK_VERSION=true

VITE_SIGN_SECRET=
VITE_SIGN_PADDING=
VITE_LOCAL_SECRET=
VITE_LOCAL_IV=
VITE_PERMUTATION_ORDER_32=
VITE_APPEND_BYTES=
VITE_RSA_DELIMITER=
VITE_WALLET_PROJECT_ID=
