{
  "isProduction": false,
  "_comment": "WEBGL, TOURNAMENT, TON, SOL, MOBILE. Dùng tạm, chưa có cách tốt hơn",
  "gamePlatform": "WEBGL",
  "isWebGLAirdrop": {
    "webGLRonin": false,
    "webGLBase": false,
    "webGLViction": false
  },
  "buildInfo": {
    "testVersion": 25071519,
    "productionVersion": 25071519
  },
  "testUserName": "testuser",
  "testPassword": "111111",
  "testWallet": {
    "address": "0x00",
    "jwt": "editor_web"
  },
  "newTestWallet": "editor_airdrop",
  "walletTon": "0:c",
  "walletTonHex": "0:c",
  "userTonData": "",
  "userTonDataRaw": "",
  "appsFlyer": {
    "webDevKey": "optional",
    "androidDevKey": "optional",
    "iosAppId": "optional"
  },
  "apple": {
    "editorAccessToken": "optional"
  },
  "ads": {
    "admobAppIdAndroid": "optional",
    "admobAppIdIos": "optional",
    "admobRewardedAdIdAndroid": "optional",
    "admobRewardedAdIdIos": "optional",
    "admobRewardedAdIdTest": "optional",
    "admobInterstitialAdIdAndroid": "optional",
    "admobInterstitialAdIdIos": "optional",
    "admobInterstitialAdIdTest": "optional"
  },
  "encryption": {
    "reactPermutationOrder32": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31],
    "smartFoxAppendBytes": 32,
    "apiAppendBytes": 4,
    "productionSalt": "required",
    "testSalt": "required"
  },
  "serverAddresses": {
    "svTestV1": "optional",
    "svTestV1Tcp": "optional",
    "svTestV2": "optional",
    "svProd": "optional",
    "svProdTcp": "optional",
    "svTournamentProd": "optional",
    "svProdTelegram": "optional",
    "svProdSolana": "optional",
    "svProdWebAirdrop": "optional",
    "authApiHostProduction": "optional",
    "authApiHostTest": "required",
    "baseApiHost": "optional",
    "tournamentBaseApiHost": "optional",
    "baseApiTestHost": "required"
  },
  "firebase": {
    "apiKey": "optional",
    "authDomain": "optional",
    "projectId": "optional",
    "storageBucket": "optional",
    "messagingSenderId": "optional",
    "appId": "optional",
    "measurementId": "optional"
  }
}