{
  "isProduction": false,
  "gamePlatform": "WEBGL",
  "forEthNetwork": "BSC", // "NONE, BSC, POL, RON, BAS"
  "buildInfo": {
    "testVersion": 26031117,
    "productionVersion": 26031117
  },
  "testUserName": "devv",
  "testPassword": "111111",
  "editorAccount": "editor1",
  "testWalletEth": "0x0000000000000000000000000000000000000000",
  "testWalletSolana": "",
  "testWalletTonHex": "",
  "rsaDelimiter": "*",
  "serverAddresses": {
    "baseApiTestHost": "http://localhost:8101/",
    "testServers": {
      "webBuild": "localhost"
    }
  }
}